.container {
  margin: 0 auto;
  width: 100%;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    justify-content: space-between;
    align-items: initial;
  }
}

.content {
  margin: 0;
  display: flex;
  width: 95%;

  &.right {
    position: -webkit-sticky;
    position: sticky;
    top: 75px;
    height: fit-content;
    padding: 8px 0;

    > div {
      width: 100%;
    }
  }

  @media (min-width: $breakpoint-md) {
    &.left {
      width: 90%;
    }
    &.right {
      padding: 0;
      width: 90%;
    }
  }

  @media (min-width: $breakpoint-lg) {
    &.left {
      width: 66.6%;
    }

    &.right {
      width: 25%;
    }
  }
}

.textarea {
  background-color: #edede9;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ccc;

  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  min-height: 85vh;

  @media (max-width: $breakpoint-md) {
    border-bottom: 1px solid $on-surface-secondary;
    margin: 0 8px 20px 8px;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  display: flex;
  justify-content: center;
  align-items: center;
  svg {
    width: 50px;
    height: 50px;
    animation: loading 1s linear infinite;
    fill: white;
  }
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
