.content {
  margin: 1rem 0;

  .editor_config {
    display: flex;
    flex-direction: column;
    gap: 4px;

    label {
      cursor: pointer;
    }
    input[type="checkbox"] {
      cursor: pointer;
      position: relative;
      margin: 0 0.5rem;
    }
  }
}

.container {
  p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    span {
      font-weight: bold;
    }
  }

  h2 {
    font-size: 1.1rem;
    margin: 0;
    margin-bottom: 4px;
  }

  ul {
    margin-top: 5px;

    span {
      font-weight: bold;
    }

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0;

    li {
      font-size: 15px;
      list-style: none;
      display: inline;
    }
    li:nth-child(1) {
      left: 0px;
    }
    li:nth-child(3) {
      float: right;
    }
  }

  .ease_bar {
    position: relative;
    width: 100%;
    box-shadow: 0px 0px 15px -5px #d4d4d4;
    border-radius: 50px;
    .cont {
      padding-left: 5px !important;
      padding-right: 5px !important;
    }
    .slider {
      position: absolute;
      background-color: $on-background;
      width: 8px;
      height: 30px;
      margin-top: -5px;
      border-radius: 20px;

      padding: 0;
      .row {
        padding: 0;
        margin: 0;
      }
    }
    .row {
      margin: 8px 0;
      display: flex;
      flex-direction: row;
      .col {
        width: 100%;
      }
    }
    .row .col {
      height: 20px;
    }
    .row .col:nth-child(1) {
      border-radius: 50px 0 0 50px;
      background-color: #bd2323;
    }
    .row .col:nth-child(2) {
      background-color: #e56d6d;
    }
    .row .col:nth-child(3) {
      background-color: #fff4f4;
    }
    .row .col:nth-child(4) {
      background-color: #c3ffcd;
    }
    .row .col:nth-child(5) {
      background-color: #97fba7;
      border-radius: 0 50px 50px 0;
    }
  }
  .importExternalPage {
    h2 {
      margin-bottom: 8px;
    }
    input {
      margin: 8px 0;
    }
  }
  @media (min-width: $breakpoint-md) {
    position: relative;
  }
  @media (min-width: $breakpoint-xl) {
    position: relative;
  }
}
