.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1050px;
}

.article {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 90vw;

  margin: 0;

  @media (min-width: 768px) {
    max-width: 750px;
    margin: 32px;
  }

  @media (min-width: 1280px) {
    max-width: 800px;
  }

  @media (min-width: 1440px) {
    max-width: 900px;
  }

  .share {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;

    position: sticky;
    top: 0;

    font-size: 1.4rem;

    color: $on-surface-secondary;
    cursor: pointer;
  }

  .info  {
    text-align: center;
    margin: 8px 0;
    span {
      margin: 0;
      letter-spacing: 2px;
      font-weight: 500;
      color: $on-background;
      line-height: 150%;
      font-size: 16px;
    }
  }

  h1 {
    font-weight: 700;
    line-height: 130%;
    color: $primary;

    margin: 0;
    font-size: 2.5rem;
  }

  .postList {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;

    > div {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
    a {
      all: unset;
    }
    h3,
    p {
      margin: 0 !important;
    }
    h3 {
      color: $primary;

      cursor: pointer;

      &:hover {
        color: $semantic-link;
      }
    }
    p {
      color: $on-background;
    }
  }
}

.blogText {
  width: 100%;
  margin: 0;

  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    p {
      font-size: 0.8rem;
      color: $on-background;

      a {
        color: inherit;
      }
    }
  }

  h2 {
    max-width: 100%;
    overflow-wrap: break-word;
    font-weight: 600;

    color: $on-background;
    margin: 24px 0 8px 0;
    font-size: 1.8rem;
  }

  h3 {
    max-width: 100%;
    overflow-wrap: break-word;
    font-weight: 600;
    color: $on-background;
    margin: 24px 0 8px 0;
    font-size: 1.6rem;
  }
  p {
    color: $on-background;
    line-height: 150%;
    font-weight: 400;
    margin: 8px 0;
  }
  a {
    color: $semantic-link;
  }
  b {
    font-weight: 600;
  }
  ul,
  ol {
    color: $on-background;
    margin: 8px 0;
    font-weight: 500;
    line-height: 150%;
    font-size: 1rem;
    li {
      line-height: 1.4;
      padding-left: 4px;
    }
    ul,
    ol {
      list-style-type: disc;
    }
  }
  figure {
    margin: 0;
    width: 100% !important;
    div {
      padding: 0 !important;
      height: fit-content;
      position: relative;
      width: 100%;
      img {
        width: 100%;
      }
    }
    figcaption {
      font-size: 0.8rem;
      color: $on-background;
      text-align: center;
      font-weight: 400;
      margin: 4px 0;
    }
  }
  blockquote {
    padding: 16px;
    padding-right: 0;
    margin: 16px 0;
    border-left: 4px solid $semantic-link;
    font-weight: 500;
    line-height: 150%;
    font-size: 1rem;
    color: $on-background;
  }
  pre {
    position: relative;
    max-width: 100vw;
    overflow: auto;
    code {
      font-size: 1rem;
    }
  }
  img {
    width: 100%;
  }
}
