.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 100vh;

  .line {
    width: 100%;
    margin: 0 auto;
    max-width: 950px;
    border-top: 1px solid $on-surface-secondary;
  }

  .aweHidden {
    opacity: 0;
  }
  .hideAndNone {
    display: none;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;

  width: 100%;
  max-width: 1050px;

  @media (min-width: $breakpoint-xl) {
    max-width: 1200px;
  }
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

.footer {
  max-width: 1200px;
  margin: 0 auto;
}
