body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;

  font-size: 18px;
  @media (max-width: 720px) {
    font-size: 16px;
  }

  line-height: 1.5;
}

h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.875rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.125rem;
}

h6 {
  font-size: 0.875rem;
}
