$primary: #1a1a1a;
$on-primary: #fafafa;

$secondary: #7b61ff;
$on-secondary: #cccccc;

$surface: #212529;
$on-surface: #fafafa;
$on-surface-secondary: #cccccc;

$semantic-link: #00be8b;
$semantic-error: #ef233c;

// breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;
