.modal {
  padding: 16px 8px;
  max-width: 500px;
  .message {
    color: $primary;
    h1 {
      margin-top: 16px;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 8px;

      @media (min-width: $breakpoint-md) {
        font-size: 32px;
      }
    }
    p {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 24px;
      img {
        width: calc(100% - 16px);
        height: auto;
        border: 2px dashed $primary;
        margin-top: 16px;
        padding: 8px;
      }
      @media (min-width: $breakpoint-md) {
        font-size: 20px;
      }
    }
  }
  .line {
    width: 100%;
    border-top: 1px solid $primary;
    margin: 16px 0;
  }
  .button {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    button {
      width: 100%;
      &:not(:only-child) {
        width: 45%;
      }
      font-weight: 600;
      font-size: 15px;
      cursor: pointer;
      padding: 10px 10px;

      height: 40px;
      border-radius: 5px;

      color: $on-primary;

      border: none;

      transition: background 0.3s ease-in-out;

      display: flex;
      align-items: center;
      justify-content: center;

      &:first-child {
        background-color: $semantic-error;
        color: $on-surface;
        &:hover {
          border: 2px solid $semantic-error;
          color: $semantic-error;
          background-color: $on-primary;
        }
      }
      &:last-child {
        background-color: $on-primary;
        border: 2px solid $primary;
        color: $primary;
        &:hover {
          border: 2px solid $primary;
          color: $on-primary;
          background-color: $primary;
        }
      }
    }
  }
}
