.modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 350px;
  max-width: 70vw;
  height: fit-content;
  background-color: $background;
  border-radius: 8px;
  padding: 16px 12px;
}
.header {
  display: flex;
  justify-content: flex-end;
  padding-right: 4px;
  padding-top: 4px;
  svg {
    height: 24px;
    width: 24px;
    cursor: pointer;
  }
}

.content {
  display: flex;
  flex-direction: column;

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;

    *::placeholder {
      font-family: "Inter", sans-serif;
    }

    h1 {
      margin: 0;
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: 8px;
    }

    textarea {
      height: 100px;
      border-radius: 8px;
      padding: 8px;
      margin-bottom: 8px;
      resize: none;
      border: 1px solid $on-background;
    }
  }
}
