@keyframes LoadingAnimation {
  50% {
    transform: translate(0, 15px);
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  width: 100%;

  gap: 16px;

  .text {
    font-size: 1.1rem;
    font-weight: 500;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: space;
    justify-content: space-between;
    gap: 8px;
    height: 80px;
  }

  .dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  .dot {
    width: 10px;
    height: 10px;
    display: inline-block;
    border-radius: 100%;
  }
  .dot1 {
    background-color: #1abc9c;
    animation: LoadingAnimation 0.6s 0.1s linear infinite;
  }
  .dot2 {
    background-color: #ffd64a;
    animation: LoadingAnimation 0.6s 0.2s linear infinite;
  }
  .dot3 {
    background-color: #e867af;
    animation: LoadingAnimation 0.6s 0.3s linear infinite;
  }
}
