.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 95vw;

  @media (min-width: $breakpoint-md) {
    max-width: 1050px;
  }

  @media (min-width: $breakpoint-xl) {
    max-width: 1200px;
  }
  margin: 0 auto;
  height: fit-content;
}

.title {
  all: unset;
  margin: 24px 0;
  font-size: 1.4rem;
  cursor: pointer;
  font-weight: bolder;
  color: black;
}

.menuButton {
  all: unset;
  display: none;
  font-size: 1.6rem;

  @media (max-width: 768px) {
    display: block;
  }
}
