.button {
  all: unset;

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;

  cursor: pointer;
  width: 35px;
  height: 35px;
  border-radius: 8px;

  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  font-size: 18px;
  svg {
    font-size: 22px;
  }

  color: $on-background;
  background-color: transparent;

  &:hover {
    background-color: $secondary;
  }

  &.active {
    color: $on-primary;
    background-color: $secondary;

    &:hover {
      background-color: $on-surface-secondary;
    }
  }
}
